---
layout: null
section-type: work
title: Work
---
## Work

### Joe - Mobile Coffee Ordering

##### Seattle, WA - August 2016 -- Present
![Joe Coffee](/img/Joe-web-75.png)
<a href="http://joecoffeeapp.com/" title="Joe Coffee Site"><i class="fa fa-laptop" aria-hidden="true"></i> Joe Homepage</a>

Joe puts local, specialty coffee into the palm of your hand. Joe is designed with ease-of-use in mind allowing users to quickly order their favorite drink during their commute without having to wait in line. Joe is quickly expanding to more Seattle area coffee shops and is available for Android and iOS. The consumer app is in Ionic and merchant site currently in Ember while we refactor into a React Native app. I work as a developer for the small team contributing to bug fixes, design, and (re)building functionality as needed.